@inherits LayoutComponentBase

<PageTitle>OpenData</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (showWidget)
            {
                

            }
            else
            {

            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
    private bool showWidget = true;

    private void CloseWidget()
    {
        showWidget = false;
    }

    private void ShowWidget()
    {
        showWidget = true;
    }
}
